<html>
    <head>
        <title>HSE, Travelling & Communications</title>
    </head>
    <body>
        <div>
            <h1>Приветствую всех гостей моего первого сайта! Теперь буду постить сюда :)</h2>
        </div>

        {% for post in posts %}
            <div>
               <h2><a href="">{{ post.title }}</a></h2>
               <p>опубликовано: {{ post.published_date }}</p>
               <p>{{ post.text|linebreaks }}</p>
            </div> 
            
        {% endfor %}

        <div>
            <p>Связаться со мной: <a href="http://vk.com/id13666503">Я ВКонтакте</a></p>
        </div>

    </body>
</html>
