<html>
    <head>
        <title>HSE, Travelling & Communications</title>
    </head>
    <body>
        <div>
            <h1>Приветствую всех гостей моего первого сайта! Теперь буду постить сюда :)</h2>
        </div>

        <div>
            <h2><a href="">Будущий первый пост</a></h2>
            <p>Опубликовано: 06.03.2016, 16:00</p>
            <p>Оооаор шра. Шгигащцыщиаои ивгыа ршрвшф ргш ы рыиа. Швтви ивив вррвщ ш.</p>
        </div>

        <div>
            <h2><a href="">Будущий второй пост</a></h2>
            <p>Опубликовано: 06.03.2016, 16:00</p>
            <p>Оооаор шра. Шгигащцыщиаои ивгыа ршрвшф ргш ы рыиа. Швтви ивив вррвщ ш.</p>
        </div>

        <div>
            <h2><a href="">Будущий третий пост</a></h2>
            <p>Опубликовано: 06.03.2016, 16:00</p>
            <p>Оооаор шра. Шгигащцыщиаои ивгыа ршрвшф ргш ы рыиа. Швтви ивив вррвщ ш.</p>
        </div>

        <div>
            <h2><a href="">Будущий четвертый пост</a></h2>
            <p>Опубликовано: 06.03.2016, 16:00</p>
            <p>Оооаор шра. Шгигащцыщиаои ивгыа ршрвшф ргш ы рыиа. Швтви ивив вррвщ ш.</p>
        </div>

        <div>
            <h2><a href="">Будущий пятый пост</a></h2>
            <p>Опубликовано: 06.03.2016, 16:00</p>
            <p>Оооаор шра. Шгигащцыщиаои ивгыа ршрвшф ргш ы рыиа. Швтви ивив вррвщ ш.</p>
        </div>

        <div>
            <h3><a href="">К предыдущим записям</a><h3>
        </div>

        <div>
            <p>Связаться со мной: <a href="http://vk.com/id13666503">Я ВКонтакте</a></p>
        </div>

    </body>
</html>
